.light {
    background-color: #DDD;
}

.light:hover {
    background-color: #BBB;
}

.light.highlight {
    background-color: #00FF00;
}

.light.highlight:hover {
    background-color: #00FF00;
}

.dark {
    background-color: #996430;
}

.dark:hover {
    background-color: #b27438;
}

.dark.highlight {
    background-color: #00E500;
}

.dark.highlight:hover {
    background-color: #00E500;
}

.square {
    height: 50px;
    width: 50px; 
}

.row {
    display: flex;
}

.piece{
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    user-select: none;
}