.inp-dropdown {
    border: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 8rem;
    border-radius: 0.25rem;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.inp-dropdown option {
    background-color: #FFFFFFFF;
}

.inp-dropdown:hover,
.inp-dropdown:focus,
.inp-dropdown:active {
    outline: none;
}

.inp-dropdown-container {
    background-color: var(--color-input-background);
}

.inp-dropdown-outline {
    border: 0.13rem var(--color-text-label) solid;
    background-color: var(--color-transparent);
}

.inp-text {
    border: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 8rem;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;   
}

.inp-text:hover,
.inp-text:focus,
.inp-text:active {
    outline: none;
}

.inp-text-container {
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 0.13rem var(--color-primary) solid;
    background-color: var(--color-input-background);
}

.inp-text-outline {
    border-radius: 0.25rem;
    border: 0.13rem var(--color-text-label) solid;
    background-color: var(--color-transparent);
}

.btn {
    border: none;
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    letter-spacing: 0.09em;
    font-family: var(--font-family-buttons);
    cursor: pointer;
    box-shadow: 0 0.125rem 0.2rem #00000066, 0 0 0.4rem #00000033;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
}

.btn-primary {
    color: var(--color-text-on-primary);
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-primary:focus {
    background-color: var(--color-primary);
}

.btn-outline {
    color: var(--color-primary);
    background-color: transparent;
    border: 0.13rem var(--color-primary) solid;
    box-shadow: none;
}

.btn-outline:hover {
    background-color: var(--color-primary-hover-transparent);
}

.btn-outline:focus {
    background-color: transparent;
}

.btn-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--color-primary);
    background-color: transparent;
    box-shadow: none;
}

.btn-text:hover {
    color: var(--color-primary-hover);
}

.btn-text:focus {
    background-color: transparent;
}