* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

.container {
    margin: auto;
    max-width: 400px;
}

.content {
    margin-top: 4rem;
    padding: 10px;
}

#control-panel {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
}

form #select-white {
    grid-column: 1;
    grid-row: 1;
    padding-right: 0.2rem;
}

form #select-white label, form #select-black label {
    background-color: white;
    margin-left: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position: relative;
}

form #select-white select, form #select-black select {
    margin-top: -9px;
    width: 100%;
}

form #select-black {
    grid-column: 2;
    grid-row: 1;
    padding-left: 0.2rem;
}

form input {
    margin-top: 2.4rem;
    grid-column: 1 / span 2;
    grid-row: 2;
}

#output {
    padding: 1rem 0 1.3rem 0;
}

#output p {
    font-family: var(--font-family-mediun);
}