.status {
    background-color: blueviolet;
}

@media (min-width: 960px) {
    .status {
        height: 480px;
        width: 480px;
    }
}

.copy-line {
    display: flex;
    justify-content: space-between;
}