*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Login */
.container {
  max-width: 800px;
  margin: auto;
  padding: 0.5rem;
  margin-top: 2rem;
}
.selection {
  display: grid;
  grid-template-columns: [left-edge] 50% [center-line] 50% [right-edge];
  grid-template-rows: [top-edge] auto [content-start] auto [bottom-edge];
}
.tabs {
  grid-column: left-edge / right-edge;
  grid-row: top-edge / content-start;
  display: none;
}
.tab {
  padding: 0.5rem;
  background-color: beige;
  display: inline-block;
}
.login, .register{
  grid-row: content-start / bottom-edge;
  background-color: beige;
  height: 400px;
}
.login {
  grid-column: left-edge / center-line;
}
.register {
  grid-column: center-line / right-edge;
}
.selection > input {
  display: none;
}
@media (max-width: 800px) {
  .tabs {
    display: block;
  }
  .register {
    grid-column-start: left-edge;
    display: none;
  }
  .login {
    grid-column-end: right-edge;
    display: none;
  }
  #tab1:checked ~ .login,
  #tab2:checked ~ .register {
    display: block;
  }
  #tab1:checked ~ .tabs > .register-tab {
    background-color: #CCC;
  }
  #tab2:checked ~ .tabs > .login-tab {
    background-color: #CCC;
  }
}
.input-container {
  padding: 2rem;
}
.input-container p {
  margin-bottom: 1rem;
}
form input[type=text], 
form input[type=password] {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding: 3px;
}
form input[type=submit] {
  width: 150px;
  margin-top: 1rem;
  padding: 5px;
}
.footnote{
  margin-top: 1rem;
  text-align: center;
}
.footnote > a{
  text-decoration: underline;
  color: #6e22b4;
  cursor:pointer;
}
/* Main application window */
.dashboard{
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 300px auto;
  grid-template-areas: "header header"
                       "sidebar chessboards";
  width: 100vw;
  height: 100vh;
}
.singleboard{
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-areas: "header"
                       "chessboards";
  width: 100vw;
  height: 100vh;
}
nav{
  height: 4rem;
  grid-area: header;
  background-color: #CCC;
  padding: 1rem;
  display: flex;
  align-items: center;
}
nav > h1{
  font-weight: lighter;
  flex-grow: 1;
}
nav > .sidebar-btn{
  height: 30px;
  width: 30px;
  margin-right: 1rem;
  background-color: #8A2BE2;
}
.sidebar-container{
  grid-area: sidebar;
}
.sidebar-section{
  padding: 1rem 1.5rem;
}
.sidebar{
  width: 300px;
  height: 100%;
  color: #FFF;
  background-color: #8A2BE2;
}
.content{
  grid-area: chessboards;
  overflow-y: scroll;
  padding-top: 0.5rem;
}
@media (min-width: 416px){
  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 800px){
  nav > .sidebar-btn{
    display: none;
  }
}
@media (max-width: 799px){
  nav > .sidebar-btn{
    display: block;
  }
  .sidebar-container{
    position: relative;
  }
  .sidebar{
    position: absolute;
    left: -300px;
  }
  .dashboard{
    grid-template-columns: 0px auto;
  }
}
.sidebar-show{
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.sidebar-hide{
  animation-name: slide-out;
  animation-duration: 0.3s;
}
@keyframes slide-in{
  from{
    left: -300px;
  }
  to{
    left: 0px;
  }
}
@keyframes slide-out{
  from{
    left: 0px;
  }
  to{
    left: -300px;
  }
}
.game{
  padding: 0.5rem;
}
.game > h4,.game > p{
  padding: 0.2rem;
  text-align: center;
  color: #FFF;
  background-color: #666;
}
#ul-player,#ul-requests{
  list-style: none;
}
#ul-player > li,#ul-requests > li{
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
}
#ul-player > li:hover,#ul-requests > li:hover{
  background-color: #6e22b4;
}
.li-player-img{
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #888;
  margin-right: 1rem;
}
.li-player-text,.li-request-text{
  flex-grow: 1;
}
/* Buttons */
.btn{
  border: none;
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.09em;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active{
  outline: none;
}
.btn-text{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.6rem;
  font-weight: bolder;
  color: #FFF;
  background-color: #FFFFFF22;
}
.btn-modal{
  font-size: 0.6rem;
  font-weight: bolder;
  color: #8A2BE2;
  background-color: transparent;
}
.btn-outline{
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 0;
}
.btn-text:hover,
.btn-outline:hover{
  background-color: #00000044
}
.btn-text:active,
.btn-outline:active{
  background-color: #FFFFFF44;
}
/* Input */
.inp-text {
  border: none;
  border-radius: 0;
  height: 2.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.inp-text:hover,
.inp-text:focus,
.inp-text:active {
  outline: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content { 
  background-color: #FFFFFFFF;
  margin: auto;
  max-width: 17.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 2rem #00000033;
}
@media (min-width: 40em) {
  .modal-content {
      max-width: 35rem;
  }
} 
.modal-content-header {
  padding: 1.5rem  1.5rem  0rem  1.5rem;
}
.modal-content-body {
  padding: 1.5rem  1.5rem  0rem  1.5rem;
}
.modal-content-controls {
  display: flex;
  width: 100%;
  padding: 1.75rem  0.5rem  0.5rem  0.5rem;
  justify-content: flex-end;
}
.inp-radio {
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding-left: 1rem;
  margin-top: 0.75rem;
}
.inp-radio label {
  padding-left: 0.75rem;
  font-size: 1rem;
}