.board-square {
    height: 3rem;
    width: 3rem;
    background-position: center;
    background-size: contain;
}

.board-row {
    display: flex;
}

.light {
    background-color: lightcoral;
}

.dark {
    background-color: red;
}

.fen-b-w{
    background-image: url("./img/bishop_white.png");
}
.fen-b-b{
    background-image: url("./img/bishop_black.png");
}
.fen-k-w{
background-image: url("./img/king_white.png");
}
.fen-k-b{
background-image: url("./img/king_black.png");
}
.fen-n-w{
background-image: url("./img/knight_white.png");
}
.fen-n-b{
background-image: url("./img/knight_black.png");
}
.fen-p-w{
background-image: url("./img/pawn_white.png");
}
.fen-p-b{
background-image: url("./img/pawn_black.png");
}
.fen-q-w{
background-image: url("./img/queen_white.png");
}
.fen-q-b{
background-image: url("./img/queen_black.png");
}
.fen-r-w{
background-image: url("./img/rook_white.png");
}
.fen-r-b{
background-image: url("./img/rook_black.png");
}