.chessboard{
  max-width: 400px;
}
/* Squares */
.light {
    background-color: #ffce9e;
}
.light.highlight, .light.start {
    background-color: #00FF00;
}
.dark {
    background-color: #d18b47;
}
.dark.highlight, .dark.start {
    background-color: #00E500;
}
.square {
    width: 50px;
    height: 0;
    padding-bottom: 12.5%;
    background-position: center;
    background-size: contain;
}
.row {
    display: flex;
}
/* Pieces */
.fen-B{
    background-image: url("../img/bishop_white.png");
}
.fen-b{
    background-image: url("../img/bishop_black.png");
}
.fen-K{
    background-image: url("../img/king_white.png");
}
.fen-k{
    background-image: url("../img/king_black.png");
}
.fen-N{
    background-image: url("../img/knight_white.png");
}
.fen-n{
    background-image: url("../img/knight_black.png");
}
.fen-P{
    background-image: url("../img/pawn_white.png");
}
.fen-p{
    background-image: url("../img/pawn_black.png");
}
.fen-Q{
    background-image: url("../img/queen_white.png");
}
.fen-q{
    background-image: url("../img/queen_black.png");
}
.fen-R{
    background-image: url("../img/rook_white.png");
}
.fen-r{
    background-image: url("../img/rook_black.png");
}