* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 0.5rem;
}

#status {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.buttons {
  margin-top: 0.5rem;
  text-align: center;
}

.buttons > #start, .buttons > #join {
  width: 50%;
  height: 2rem;
}

.buttons > #flip, .buttons > #colors {
  width: 3.5rem;
  padding: 0.2rem;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000099; 
}

.modal > div {
  background-color: white;
  box-shadow: 3px 3px 20px  #000000CC;
  padding: 1rem;
}

.modal > div > button {
  width: 100%;
  height: 2rem;
}

.modal > div > input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal > div > p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.notification {
  position: fixed;
  top: 3rem;
  background-color: red;
  padding: 1rem;
  transition: right 1s;
  box-shadow: 3px 3px 10px  #00000055;
}

.notification-visible {
  right: 0rem;
}

.notification-hidden {
  right: -20rem
}