* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #284B63;
}

button {
    min-width: 45px;
}

.container {
    max-width: 975px;
    margin: auto;
    padding: 0 5px;
}

.content {
    margin-top: 5px;
}

.action {
    display: flex;
    flex-direction: row;
}

@media (max-width: 970px) {
    .container {
        max-width: 490px;
    }
    .action {
        flex-direction: column;
    }
}