* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {
    max-width: 960px;
    margin: auto;
}

.action {
    display: flex;
    flex-direction: row;
}

@media (max-width: 960px) {
    .container {
        max-width: 480px;
    }
    .action {
        flex-direction: column;
    }
}